* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: auto;
  background-color: #333;
  display: flex;
  justify-content: center;
}

.main {
  width: 100vh;
}

.workoutimgcontainer {
  /* width: 40%; */
  height: 20vh;
  padding-top: 3vh;
}

.workoutimg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.welcomecontainer {
  position: relative;
}

h1 {
  position: absolute;
  top: 9vh;
  color: azure;
  padding-left: 2vh;
  font-size: 2.2em;
  font-family: "Wallpoet", serif;
  font-weight: 600;
  animation: fade 3s ease-in-out 1s infinite;
}

.greet {
  position: absolute;
  top: 17vh;
  padding-left: 2vh;
  font-family: "Wallpoet", sarif;
  font-size: 1.3em;
  color: aliceblue;
}

@keyframes fade {
  0% {
    opacity: 25%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 25%;
  }
}

.notgeneratedcontainer,
.notgeneratedcontainer form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

/* .notgeneratedcontainer form {
  width: 40%;
} */

.notgeneratedcontainer button:hover {
  animation: scale 2s ease-in-out 0s infinite alternate;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3), 0 8px 30px rgba(0, 0, 0, 0.2);
}

.notgeneratedcontainer button,
.generatedworkoutbuttons button {
  border: none;
  color: azure;
  font-size: 1.1em;
  padding: 0.5em;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
}

.notgeneratedcontainer input {
  margin-top: 2vh;
  background-color: #333;
  color: azure;
  box-shadow: none;
  border: #5a5a5a 0.1em solid;
}

@keyframes scale {
  100% {
    transform: scale(1.1);
  }
}

.editbtnsdiv {
  display: flex;
  justify-content: space-between;
  align-items: last baseline;
}

.buttons-categories,
.buttons-difficulty {
  /* width: 40%; */
  display: flex;
  justify-content: space-between;
  margin-top: 1vh;
}

button {
  border: none;
}

.buttons-categories button,
.buttons-difficulty button {
  flex: 1;
  margin: 0.1em;
  padding: 0.3em;
  color: azure;
  font-weight: 600;
}

.buttons-categories button:hover,
.buttons-difficulty button:hover,
.selected {
  scale: 1.1;
  border: azure 0.1em solid;
}

/* .generatedworkoutswidth {
  width: 40%;
} */

.buttonsdiv {
  display: flex;
  gap: 5px;
}

.generatedworkoutbuttons {
  padding: 3px;
  text-align: center;
  color: 333;
}

.notavailablep {
  text-align: center;
  width: 40%;
  color: azure;
  padding: 1vh;
}

.carddiv {
  background-color: #5a5a5a5e;
  margin: 1vh;
  margin-left: 0;
  border-radius: 5px;
  color: #eae8e8;
  padding: 0.5vh;
  border: 3px solid;
  border-image: linear-gradient(45deg, #f5a623, #06d6a0, #8c9eff, #ff6b6b) 1;
  animation: borderAnimation 3s infinite linear;
}

.promptdiv {
  text-align: center;
  box-shadow: -4px -4px 10px rgba(0, 0, 0, 0.5);
  font-family: "Wallpoet", serif;
  font-weight: 600;
  padding: 5px;
}

.orparagraph {
  font-family: "Cutive Mono", monospace;
  color: #e2e1e1;
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
}

.generatedworkout {
  color: #e2e1e1;
  margin-top: 1em;
  background-color: #5a5a5a1e;
  box-shadow: -4px -4px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding: 5px;
  font-family: "Cutive Mono", monospace;
  letter-spacing: -0.5px;
}

.generatedworkout h3 {
  font-size: 0.8em;
  font-weight: 200;
}

.setrepcontainer {
  display: flex;
  gap: 35px;
}

.historyitemdiv {
  font-family: "Cutive Mono", monospace;
  letter-spacing: -0.5px;
  font-size: 0.85em;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.historyitemdiv span {
  font-size: 0.9em;
  letter-spacing: -0.5px;
}

.historyitemdiv .spantitle {
  font-weight: 900;
  letter-spacing: -1px;
}

.title {
  font-size: 1em;
  font-weight: 700;
  margin: 5px;
}

@keyframes borderAnimation {
  0% {
    border-image-source: linear-gradient(
      45deg,
      #f5a623,
      #06d6a0,
      #8c9eff,
      #ff6b6b
    );
  }
  100% {
    border-image-source: linear-gradient(
      45deg,
      #ff6b6b,
      #8c9eff,
      #06d6a0,
      #f5a623
    );
  }
}
